{% extends 'base/main.html' %}

{% block content %}
    <h1>Login to access your to do list!</h1>
    

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>


    <p>Don't have an account? <a href="{% url 'register' %}">Sign Up!</a></p>

    
{% endblock content %}
